extends ./layout_admin

block content
  .row
    .col-md-12
      h2 #{title}
      hr
      form(role='form' action="/admin/newsdb"  method="POST")
        input(name="type" value="news" hidden)
        input(name="mode" value=mode hidden)
        input(name="_id" value=_id hidden)
        p
          input.form-control(name='title' type='text' placeholder="请输入标题" value = model.title)
        p
          textarea.form-control(name='content' rows='3' placeholder="请输入内容") #{model.content}
        hr
        p
          - if (mode == "update")
            a.pull-right.btn.btn-danger(href="/admin/news" onclick="$.post('/admin/newsdb', { mode: 'delete', id: '" + _id + "' });") 删除此条公告
          span.pull-right &nbsp; &nbsp;
          a.pull-right.btn.btn-primary( href="/admin/news") 放弃编辑
          button.btn.btn-success() 提交

  script.
    
