extends ./layout_nav

block content
  .row
    .col-md-8.col-md-offset-2
      h2 #{title}
      hr
      form(role='form')
        .form-group
          label(for="title") 题目标题
          input.form-control(name="title" type='text')
        .form-group
          label(for="appendix") 题目描述
          textarea.form-control(name='appendix' rows='3')
              
        hr
        p
          a.pull-right.btn.btn-danger(href="#") 删除该比赛
          span.pull-right &nbsp; &nbsp;
          a.pull-right.btn.btn-primary( href="/admin/notice") 放弃编辑
          button.btn.btn-success(type='submit') 提交
        
          
