extends ./layout_nav

block content
  .row
    .col-md-8.col-md-offset-2
      h2 管理站点-#{title}
      ul.nav.nav-tabs
        li(role="presentation")
          a(href="/admin/notice") 公告
        li(role="presentation")
          a(href="/admin/contest") 比赛
        li.active(role="presentation")
          a(href="/admin/problem") 题目
      br
      p
        a.btn.btn-success(href="/admin/edit/problem") 新建题目
      .panel.panel-default
        .panel-body 共计#个题目
      .panel.panel-default
        table.table.table-hover.tabel-striped
          thead
            tr
              th #
              th 标题
              th 状态
              th 操作
          tbody
            tr
              td 1
              td
                a(href="") A+B
              td 243/244
              td
                a(href="/admin/edit/problem") 修改
                span &nbsp;&nbsp;
                a(href="") 删除
