extends layout.pug

block content
  div(class="jumbotron well")
    p
      //-此处还需要改进
      h3 比赛名
    p
      small 这是一个文本测试，欢迎群巨前来虐场
  ul(class="nav nav-tabs")
    li(class="active")
      a(href="#") Problem
    li(class="disabled")
      a(href="#") Rank
    li(class="disabled")
      a(href="#") Process
    li(class="disabled")
      a(href="disabled") Discuss/Ask
  table(class="table")
    thead
      tr
        th ProblemID
        th Name
        th Result
        th Status
    tbody
      //-这个地方的具体颜色还需要调整
        - for(var i=0;i<7;i++)
          tr(class="info")
            td 00#{i}
            td
              a(href="#") problem00#{i}
            td Accepted
            td 22
