extends ../layout/layout_nav

block content
  h1=title
  div(class="container")
    div(class="row")
      div(class="col-md-6")
        form(action='/user/create/submit' class="form-group" method="post")
          div(class="input-group")
            label(for="username") 用户名:
            input(type='text' placeholder='username' class="form-control")
          div(class="input-group")
            label(for="password") 密码:
            input(type='password' placeholder='password' class="form-control")
          div(class="input-group")
            br
            input(type="submit" value="提交" class="btn btn-default")
