doctype html
html 
    head
        meta(charset="utf-8")
        title Problem
        link(href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css",rel="stylesheet")
    body
        div(class = "container")
            div(id = "row clearfix")
                div(id = "col-md-12 column")
                    nav(id = "navbar navbar-default navbar-inverse navbar-fixed-top",role = "navigation") 
                        div(class = "navbar-header")
                            button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
                                span(class="sr-only") Toggle navigation
                                span(class="icon-bar")
                                span(class="icon-bar")
                                span(class="icon-bar")
                            a(class="navbar-brand",href="#") Home
                        div(class="collapse navbar-collapse",id="bs-example-navbar-collapse-1")
                            ul(class="nav navbar-nav")
                                li(class="active")
                                    a(href="#") Problem
                                li(class="active")
                                    a(href="#") Status
                                li(class="active")
                                    a(href="#") Contest
                            form(class="navbar-form navbar-left",role="search")
                                div(class="form-group")
                                    input(type="text",class="form-control")
                                button(type="submit",class="btn btn-default") Submit
                            ul(class="nav navbar-nav navbar-right")
                                li(class="active")
                                    //-这个NAME还需要进一步设计
                                    a(href="#") Name 
                                li(class="active")
                                    //-这个Update更新到个人主页
                                    a(href="#") Update
                    h3(style="align-content:center") Problem Name
                    br
                    
                    div(class="jumbotron well")
                        h2 description
                        p 
                            small jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
                    div(class="jumbotron well")
                        h2 input
                        p jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
                            small dasdkjsakldskaljdklsadklsadksalkdjksladjklsadjjslajdsklajdks
                    div(class="jumbotron well")
                        h2 output
                        p jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
                            small dasdkjsakldskaljdklsadklsadksalkdjksladjklsadjjslajdsklajdks
                    div(class="jumbotron well")
                        h2 sample input
                        p jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
                            small dasdkjsakldskaljdklsadklsadksalkdjksladjklsadjjslajdsklajdks
                    div(class="jumbotron well")
                        h2 sample output
                        p jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
                            small dasdkjsakldskaljdklsadklsadksalkdjksladjklsadjjslajdsklajdks
                    form(role="form")
                        div(class="form-group")
                            label(for="name") 提交代码
                                textarea(class="form-control" row="1000")
                    //-选择语言
