extends layout.pug

block content
  h3(style="align-content:center") Problem Name
  br

  div(class="jumbotron well")
    h2 description
    p
      small jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
  div(class="jumbotron well")
    h2 input
    p jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
      small dasdkjsakldskaljdklsadklsadksalkdjksladjklsadjjslajdsklajdks
  div(class="jumbotron well")
    h2 output
    p jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
      small dasdkjsakldskaljdklsadklsadksalkdjksladjklsadjjslajdsklajdks
  div(class="jumbotron well")
    h2 sample input
    p jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
      small dasdkjsakldskaljdklsadklsadksalkdjksladjklsadjjslajdsklajdks
  div(class="jumbotron well")
    h2 sample output
    p jljdsalkdjslkajdslajdksadlksajdklsajdklsajdklsajdklsaj
      small dasdkjsakldskaljdklsadklsadksalkdjksladjklsadjjslajdsklajdks
  form(role="form")
    div(class="form-group")
      label(for="name") 提交代码
        textarea(class="form-control" row="1000")
  //-选择语言
