extends layout.pug

block content
  div(class="jumbotron well")
    p
      //-此处还需要改进
      h3 ACM-ICPC World Final NWPU
  ul(class="nav nav-tabs")
    li(class="disabled")
      a(href="#") Problem
    li(class="active")
      a(href="#") Rank
    li(class="disabled")
      a(href="#") Process
    li(class="disabled")
      a(href="disabled") Discuss/Ask
  table(class = "table")
    thead
      tr
        th Team
        - for(var i=1;i<10;i++)
          th 00#{i}
    tbody
      - for(var i=1;i<20;i++)
        tr
          td TeamName
          - for(var j=1;j<10;j++)
            td AC
